@import 'src/styles/variables.scss';

.container {
  ::ng-deep{
    .am-tabs-default-bar {
      &-top, &-tab {
        border: none;
      }
      &-tab {
        color: $medium-grey;
      }
      &-tab-active {
        color: black
      };
      &-underline {
        border: none;
        background: $primary;
        height: 4px;
        &::before {
          content: "";
          display: block;
          width: 15px;
          height: 4px;
          background: white;
        }
        &::after {
          content: "";
          display: block;
          width: 15px;
          height: 4px;
          background: white;
          margin-left: 55px;
          margin-top: -4px;
        }
      }
    }
  }

  .tab-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
}
