.checkbox {
  width: 20px;
  height: 20px;
  visibility: hidden;
  &-container {
    position: relative;
  }
  &-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../assets/UnCheck.svg');
  }
  &:checked ~ &-icon {
    background-image: url('../../../assets/Checked.svg');
  }
  &-label {
    padding-left: 8px;
  }
}
