<div class="container">
  <div class="sign-in-form">
    <form [formGroup]="signInForm">
      <app-form-field>
        <form-field-label>Phone number</form-field-label>
        <input formControlName="phoneNumber" appInput type="tel" maxlength="10"
          placeholder="Enter your phone number" />
      </app-form-field>
      <app-form-field>
        <form-field-label>Password</form-field-label>
        <input formControlName="password" appInput type="password" placeholder="Enter your password" />
        <suffix-icon src="../../../../../assets/icShowPass.svg"></suffix-icon>
      </app-form-field>
      <Flex style="margin-top: 11px" [align]="'center'" [justify]="'between'">
        <app-checkbox (onChange)="remember.setValue($event)">Remember</app-checkbox>
        <div class="forgot-password">Forgot password?</div>
      </Flex>
      <div class="sign-in-form-submit">
        <div class="sign-in-form-submit-button" Button [type]="'primary'">
          Sign In
        </div>
      </div>
    </form>
  </div>
</div>
