@import "styles/global.scss";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}

body {
  font-size: 14px;
  background: var(--background);
  margin: 0;
  padding: 0;

  h1 {
    font-size: 20px;
  }

  p {
    margin: 0;
  }
}
