$primary: #F46F22;
$error: #e53935;
$green: #4CAF50;
$supper-dark-grey: #212121;
$line-tab-dark-mode: #424242;
$dark-grey: #616161;
$medium-grey: #9e9e9e;
$light-grey: #E0E0E0;
$supper-light-grey: #ECEFF1;
